@page
@using System.Text;
@model PusulaGroup.WebApp.Pages.TurlarimizModel
@{
}
<!-- services section start -->
<div class="services_section layout_padding">
    <div class="container">
        <h1 class="services_taital">Turlarımız </h1>
        @if (Model.Tours.Any())
        {
            <div class="services_section_2">
                @for (var i = 0; i <= Model.Division; i++)
                {
                    <div class="row mt-4">
                        @foreach (var item in Model.Tours.Skip(i * Model.NumberOfToursInRow).Take(Model.NumberOfToursInRow))
                        {
                            <div class="col-md-4">
                                <div>
                                    <img src="@item.ImagePath" class="services_img">
                                </div>
                                <div class="btn_main">
                                    <a href="/turlarimiz/@item.Name">@item.UserFriendlyName</a>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
<!-- services section end -->
